:root {
    --color-principal: #ffffff;
}
body, ul, li, h1, h2, h3, h4, p {
    padding: 0px;
    margin: 0px;
  }
  ul {
    list-style: none;
  }
  a {
    color: #000000;
    text-decoration: none;
  }
  img {
    max-width: 100%;
    display: block;
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
  .container-grid-principal {
    max-width: 1920px;
    margin: 0 auto;
  }